Flask==2.2.*
Flask-Cors==4.0.*
matplotlib
numpy==1.26.*
pyinstaller==6.2.*
uncertainties==3.1.*
waitress~=2.0
pandas==2.2.*
dask==2024.*
dask-ml==2024.*
scikit-learn==1.5.*
scipy==1.11.*
tables # Note that tables is the name of the pytables package on PyPI.
loguru~=0.5
selfies~=2.1
astrochem-embedding~=0.2
periodictable==1.7.*
h5py==3.9.*
pyarrow-hotfix  # temporary fix for pyarrow 11.0.0
git+https://github.com/aravindhnivas/mol2vec.git@gensim_v4
prompt-toolkit==3.0.*
xgboost==2.0.*
catboost==1.2.*
lightgbm==4.5.*
joblib==1.4.*