# Core dependencies
Flask==3.0.0
Flask-Cors==5.0.0
numpy==1.26.4
waitress==3.0.0
pandas==2.2.2
dask==2024.8.2
dask-ml==2024.4.4
scikit-learn==1.5.1
scipy==1.11.4
tables==3.10.1 # PyTables
loguru==0.7.2
selfies==2.1.2
astrochem-embedding==0.2.0
h5py==3.11.0
prompt-toolkit==3.0.47
xgboost==2.1.1
catboost==1.2.5
lightgbm==4.5.0
joblib==1.4.2

# Development dependencies
pyinstaller==6.10.0

# Custom or GitHub dependencies
pyarrow-hotfix==0.6  # Specify the actual version
mol2vec @ git+https://github.com/aravindhnivas/mol2vec.git@gensim_v4