Flask
Flask-Cors
matplotlib
numpy
pyinstaller
PyQt6
uncertainties
waitress
pandas
dask
dask-ml
scikit-learn
scipy
pytables
loguru
selfies
pytables
astrochem-embedding
git+https://github.com/aravindhnivas/mol2vec.git@gensim_v4